//@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/foundation-sites/dist/css/foundation.min.css';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
	font-family: 'Montserrat' !important;
	text-align: center;
	color: aqua;
	font-size: 20px;
	border: 1px solid red;
	background-color: darkgreen;
}
