@import '../node_modules/bulma/bulma.sass';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
	font-family: 'Montserrat' !important;
	background: #e4e4e4;
}

.title {
	text-align: center;
}

.records-list .columns {
  flex-wrap: wrap;
}

.record {
    background: #fff;
    border: 1px solid #000;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.record h2 {
    font-weight: bold;
    font-size: 20px;
}

div#record-details {
    margin-top: 10px;
    text-align: center;
}

div#record-details .notification.is-danger {
    background-color: #ff3860;
    color: #fff;
    font-weight: bold;
}

p.other {
    font-weight: bold;
    font-size: 20px;
}

h3.title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}